@import url(https://fonts.googleapis.com/css?family=Oswald);
body{  
  background-color:lightblue;
  font-family:arial;
  color:silver;
}
a{color:orange;}
.noddingcharacter {
  background: url(https://bg-so-1.zippyimage.com/2023/12/28/63dff1d617ac6d62428f03a2349b31a3.png);
  /* width: 565px;  
  height:400px;  */
  position:absolute;
  left:25%;
  top:50%;  
  transform: translate(-50%,-50%);
  width: 30%;
    height:100%; 
    /* position:fixed; */
    zoom: 0.70;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

@media (max-width: 600px) {
  .character {
    display: none;
  }
}

#textS{ 
  color:#000;
  position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);
  font-family:'Oswald', tahoma; font-size:40vw;
  text-align:center; white-space: nowrap;
  color:#111;
  opacity:0.2;
}
#logo {
  border-radius: 50%; 
  position:absolute;
  z-index:5000;
  top:20px; right:20px;
}

#DiacoDesignLink,#pens{
  color: #fff;
}
